{
  "branches": ["main", "dev"],
  "repositoryUrl": "https://github.com/ChristianPRO1982/scraping-latest-posts-from-news-sites",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    "@semantic-release/git",
    "@semantic-release/github"
  ]
}